/* Criou um arquivo CSS separado para estilizar o menu porque vai ter bastante código por conta do menu hamburguer */

.header nav ul{
    /* Estilzando a lista */
    display: flex;
}

.header nav ul li a{
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border-radius: 5rem;
    transition: 0.4s;
}

.header nav ul li a:hover{
    color: #fff;
    background-color: #A98467;
}

/* RESPONSIVE */

.header .menu{
    display: none;
    width: 6rem;
    height: 6rem;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

/* O aligh-self e todo o .header nav label serviram para posicionar o menu a direita da tela quando eu clico nele */

.header .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    width: 3rem;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
/* O span com a classe hamburguer representa o hamburguer */

.header .hamburguer:before,
.header .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before{
    top: -10px;
    /* primeira perninha do hamburguer */
}

.header .hamburguer:after{
    bottom: -10px;
    /* segunda perninha do hamburguer */
}

.header input{
    display: none;
}
/* para sumir o input que estava aparecendo. Um quadrado */

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
    /* quando clicar no label ele rotaciona */
}

.header input:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

@media(max-width: 900px){
    .header .menu{
        display: block;
    }
    /* para aparecer o menu */

    .header nav ul{
        display: none;
    }
    /* para desaparecer as informacoes de menu e ficar apenas o hamburguer */

    .header input:checked ~ ul{
        display: block;
        /* Quando marcar o input, aparece os elementos do menu (ul) */
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 0;
        z-index: 1;
        right: 2rem;
        /* Alterando o posicionamento do hamburguer e seus elementos */
    }

    .header nav ul{
        width: 200px;
        background-color: #fff;
        padding: 20px;
        /* alterando os elementos da lista, ou seja, do menu embutido */
    }

    .header nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
        /* Alterando os links */
    }
}